@using Microsoft.AspNet.Identity
@model Mooshak2.Models.AssignmentViewModel


<div id="maincontent">
	<h2>@Model.Name</h2>
	@using (Ajax.BeginForm("SubmitForm", "Student", new AjaxOptions() {UpdateTargetId = "maincontent",InsertionMode = InsertionMode.Replace, HttpMethod = "POST"}, new {enctype = "multipart/form-data"}))
	{
		@Html.AntiForgeryToken()
		@Html.Hidden("Id", Model.Id)
		<div class="formgroup">
			<input type="file" id="file" name="file"/>
		</div>
		<div class="formgroup">
			<input type="submit"/>
		</div>
	}

	<div class="inputlists">
		<div class="yourInputs">
			<ul>
				@foreach (var item in Model.InputOutputs)
				{
					<li>Input: @item.Input</li>
					<li>Output: @item.RealOutput</li>
				}
			</ul>
		</div>
		<div class="expectedInputs">
			<ul>
				@if(Model.InputOutputs.Count != 0)
				{
					foreach (var item in Model.InputOutputs)
					{
						<li>Input: @item.Input</li>
						<li>Output: @item.ExpectedOutput</li>
					}
				}
			</ul>
		</div>
	</div>

	<div class="submissionTable">
		<table class="table table-condensed table-hover table-striped">
			<thead>
				<tr>
					<th>#</th>
					<th>Time</th>
					<th>User</th>
					<th>Result</th>
					<th>Get Submission</th>
				</tr>
			</thead>
			<tbody>
				@if (Model.Submissions.Count == 0)
				{
					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
				}
				else
				{
					foreach (var item in Model.Submissions)
					{
						if (item.TestPassed == 1)
						{
							<tr class="success">
								<td>@item.Id</td>
								<td>@item.SubmitDate.ToString("yyyy-MM-dd hh:mm:ss.fff")</td>
								<td>@User.Identity.GetUserName()</td>
								<td>Accepted</td>
								<td><a href="#">Download</a></td>@*Hér þarf action link sem downloadar submissioninu*@
							</tr>
						}
						else
						{
							<tr class="danger">
								<td>@item.Id</td>
								<td>@item.SubmitDate.ToString("yyyy-MM-dd hh:mm:ss.fff")</td>
								<td>@User.Identity.GetUserName()</td>
								<td>Failed</td>
								<td><a href="#">Download</a></td>@*Hér þarf action link sem downloadar submissioninu*@
							</tr>
						}
					}
				}
			</tbody>
		</table>

	</div>
</div>



