@using Mooshak2.Services
@model IEnumerable<Mooshak2.Models.CourseViewModel>

@{
    ViewBag.Title = "Index";
}


<div class="container container-custom">
    <div class="row">
        <div class="col-md-2">
            <nav class="w3-sidenav w3-light-grey w3-card-2 custom-nav">
                @foreach (var c in Model.ToList())
                {
                    <h4>@c.Name</h4>foreach (var a in c.Assignments)
                                    {
                                        <div class="w3-accordion">
                                            <a href="#" class="accordion-anchor">@a.Name</a>
                                            <div class="w3-accordion-content w3-white w3-card-4">
                                                @foreach (var m in a.Milestones)
                                                {

                                                    <a href="#">@m.Name</a>
                                                }
                                            </div>

                                        </div>
                                    }
                }
            </nav>
        </div>
        <div class="col-md-10">
           
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum</p>
        </div>
    </div>
</div>











@*<div class="custom-student">
        <ul class="nav nav-tabs">
            @foreach (var x in Model.ToList())
            {
                <li>
                    @Ajax.ActionLink(x.Name, "SideTabRender", "Student", new { id = x.Id }, new AjaxOptions() { UpdateTargetId = "navbar", InsertionMode = InsertionMode.Replace, HttpMethod = "GET" })
                </li>
            }
        </ul>
    </div>
    <div class="col-sm-3 col-md-2" id="navbar">
        @Html.Partial("_SideTabs", new AssignmentService().GetAssignmentNavViewModels(Model.First().Id))
    </div>*@