@using Microsoft.AspNet.Identity
@model Mooshak2.Models.AssignmentViewModel


<div>
    <h2>@Model.Name</h2>
    
    @using (Html.BeginForm("Test", "Student", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken();
        <div class="formgroup">
            <input type="file" id="file" name="file" />
        </div>
        <div class="formgroup">
            <input type="submit" />
        </div>
    }

    <div class="inputlists">
        <div class="yourInputs">
            <ul>
                @foreach (var item in Model.InputOutputs)
                {
                    <li>Input: @item.Input</li>
                    <li>Output: @item.RealOutput</li>
                }
            </ul>
        </div>
        <div class="expectedInputs">
            <ul>
                @foreach (var item in Model.InputOutputs)
                {
                    <li>Input: @item.Input</li>
                    <li>Output: @item.ExpectedOutput</li>
                }
            </ul>
        </div>
    </div>

    <div class="submissionTable">
        <table>
            <thead>
            <tr>
                <th>#</th>
                <th>Time</th>
                <th>User</th>
                <th>Result</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model.Submissions)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.SubmissionDate.Date</td>
                    <td>@User.Identity.GetUserName()</td>
                    @if (item.TestFailed == 0)
                    {
                        <td class="acceptedTd">Accepted</td>
                    }
                    else
                    {
                        <td class="failedTd"></td>
                    }       
                </tr>
            }
            </tbody>
        </table>
    </div>

</div>



