@model Mooshak2.Models.CreateCourseViewModel
@{
    ViewBag.Title = "Create";
}

<script type=@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")></script>
@Scripts.Render("~/Scripts/Custom.js")


<h2>New Course</h2>


	 @{using (Html.BeginForm("Create", "Admin", FormMethod.Post, new { id = "createform" }))
        {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group custom-coursename">
                <label for="model.Name" class="control-label col-md-2">Name:</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Name, new {htmlAttributes = new {@class = "form-control", required = "required" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new {@class = "text-danger"})
                </div>
            </div>

            <div class="form-group custom-container">
                <div class="col-md-10 custom-leitarboxkennara userlist1 hider">
                    <input type="text" class="form-control leitarbox" placeholder="Search Teachers"/><br/>
                </div>
                <div class="col-md-10 custom-leitarboxkennara userlist2 hider">
                    <input type="text" class="form-control leitarbox" placeholder="Search Students" /><br />
                </div>
            </div>
            <div class="custom-container custom-radio">
                <input type="radio" id="Teachers" name="users" value="1" checked="checked"/>
                <label for="Teachers">Teachers</label>
                <input type="radio" id="Students" name="users" value="2" />
	            <label for="Students">Students</label>
				<label class="custom-label1">Teachers in Course:</label>
				<label class="custom-label2">Students in Course:</label>
            </div>

            <div class="container custom-container">
                
                <div class="form-group col-md-3 userlist1 hider">
                    @Html.ListBoxFor(x => x.SelectedTeachers, Model.Teachers, new {id = "notselected", @class = "leitarlisti searchclass", size = "15"})
                    @Html.ValidationMessageFor(model => model.Teachers, "", new {@class = "text-danger"})
                </div>
                <div class="form-group col-md-3 userlist2 hider">
                    @Html.ListBoxFor(x => x.SelectedStudents, Model.Students, new {id = "notselectedstudent", @class = "leitarlisti searchclass", size = "15"})
                    @Html.ValidationMessageFor(model => model.Students, "", new {@class = "text-danger"})
                </div>

                <div class="form-group col-md-3">
                    @Html.ListBoxFor(x => x.SelectedTeachers, new List<SelectListItem>(), new {id = "selected", @class = "leitarlisti notsearch", size = "15", required = "required" })
                    @Html.ValidationMessageFor(model => model.SelectedTeachers, "", new {@class = "text-danger"})
                </div>
                <div class="form-group col-md-3">
                    @Html.ListBoxFor(x => x.SelectedStudents, new List<SelectListItem>(), new {id = "selectedstudent", @class = "leitarlisti notsearch", size = "15"})
                    @Html.ValidationMessageFor(model => model.SelectedTeachers, "", new {@class = "text-danger"})
                </div>
                <div class="form-group col-md-3">
                    <div class="custom-button">
                        <input type="submit" value="Create course" class="btn btn-default" />
                    </div>
                    <div class="custom-button">
                        @Html.ActionLink("Cancel", "Index", "Admin", null, new { @class = "btn btn-default" })
                       
                    </div>
                </div>
            </div>

            <div class = "userlist1 hider custom-container">
                <input type="button" id="add" value="Add Teacher" class="btn btn-default floater"/>
            </div>
	        <div class="userlist2 hider custom-container">
		        <input type="button" id="addstudent" value="Add Student" class="btn btn-default floater"/>
	        </div>
			<div>
				<input type="button" id="RemoveTeacher" value="Remove Teacher" class="btn btn-default removeteacher" />
				<input type="button" id="RemoveStudent" value="Remove Student" class="btn btn-default removeuser" />
			</div>
        </div>

        }
	 }


@*<div>



            @{using (Html.BeginForm("Create", "Admin", FormMethod.Post, new {id = "createform"}))
          {
              <div class="form-horizontal">
                  @Html.EditorFor(model => model.Name, new {htmlAttributes = new {@class = "form-control"}})
              </div>
              <div>
                  @Html.ListBoxFor(x => x.SelectedTeachers, Model.Teachers, new {id = "notselected", @class = "leitarlisti", })
                  @Html.ListBoxFor(x => x.SelectedTeachers, new List<SelectListItem>(), new {id = "selected"})
              </div>
              <div>
                  <input type="button" id="add" value="add"/>
              </div>
              <div>
                  <input type="submit" value="create"/>
              </div>
          }
        }
    </div>*@

