@model Mooshak2.Models.AdminCourseViewModel
@{
    ViewBag.Title = "Create";
}
<h2>New Course</h2>
@*<div class="tabbable tabs-left" id="result">
        <ul class="nav nav-tabs">
            @foreach (var x in Model.TestList)
            {
                <li>
                    @Html.ActionLink(x.ToString(), "Index")
                </li>
            }
        </ul>
    </div>*@
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group custom-coursename">
            <label for="model.Name" class="control-label col-md-2">Name:</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.Name, "", new {@class = "text-danger"})
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10 custom-leitarboxkennara">
                <input type="text" class="form-control leitarbox" placeholder="search here" /><br />
            </div>
        </div>
        <div class="container">
            <div class="form-group col-md-3">
                    <select class="leitarlisti" id="leitarfunction" name="users" size="15">
                        @foreach (var item in Model.AllTeachers)
                        {
                            <option value="@item.Id">@item.username</option>
                        }
                    </select>
                    @Html.ValidationMessageFor(model => model.AllTeachers, "", new { @class = "text-danger" })
            </div>
            <div class="form-group col-md-3">
                <div>
                    <select class="leitarlisti" id="leitarfunction" name="users" size="15">
                        @foreach (var item in Model.AllTeachers)
                        {
                            <option value="@item.Id">@item.username</option>
                        }
                    </select>
                    @Html.ValidationMessageFor(model => model.AllTeachers, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
    }