@model Mooshak2.Models.ListUsersViewModel
@{
    ViewBag.Title = "ListUsers";
}

<h2 class="h2-custom">Users</h2>

@{
    using (Html.BeginForm("ListUsers", "Admin", FormMethod.Post))
    {
        <div class="form-group">
            <div class="col-md-10 listuser-center2">
                <input type="text" class="form-control leitarbox" placeholder="Search user.." /><br />
                <input type="radio" id="All" name="users" value="1" checked="checked" />
                <label for="All">All users</label>
                <input type="radio" id="Teachers" name="users" value="2" />
                <label for="Teachers">Teachers</label>
                <input type="radio" id="Students" name="users" value="3" />
                <label for="Students">Students</label>
            </div>
            <div>
                <div class="userlist1 hider">
                    <select class="leitarlisti allusers leitarlisti2 searchclass" name="users1" size="15">
                        @foreach (var item in Model.AllUsers)
                        {
                            <option value="@item.username">@item.username</option>}
                    </select>

                </div>

                <div class="userlist2 hider">
                    <select class="leitarlisti allteachers leitarlisti2 searchclass" name="users1" size="15">
                        @foreach (var item in Model.AllTeachers)
                        {
                            <option value="@item.username">@item.username</option>}
                    </select>
                </div>

                <div class="userlist3 hider">
                    <select class="leitarlisti allstudents leitarlisti2 searchclass" name="users1" size="15">
                        @foreach (var item in Model.AllStudents)
                        {
                            <option value="@item.username">@item.username</option>}
                    </select>
                </div>

                <input type="submit" value="Edit" class ="btn btn-default listuser-center"/>
            </div>
        </div>

    } }