<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <script type=@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")></script>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top navbar-default navbar-custom">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @if (!User.Identity.IsAuthenticated)
                {
                    @Html.ActionLink("Mooshak 2.0", "Login", "Account", new { area = "" }, new { @class = "navbar-brand navbar-custom" })
                }
                else
                {
                    @Html.ActionLink("Mooshak 2.0", "Index", "Home", new { area = "" }, new { @class = "navbar-brand navbar-custom" })
                }


				@*@if (User.Identity.IsAuthenticated)
				{
					@Html.ActionLink("Logout", "LogOff", "Account", new {area = ""}, new {@class = "navbar-brand navbar-custom"})
				}*@
            </div>
            <div class="navbar-collapse collapse">
                @*<ul class="nav navbar-nav">
	                <li>@Html.ActionLink("Home", "Login", "Account")</li>
	                <li>@Html.ActionLink("About", "About", "Home")</li>
	                <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
	            </ul>*@

                @Html.Partial("_LoginPartial")
                    @if (!User.Identity.IsAuthenticated)
					{
						<p align="right" class="navbar-brand custom-header navbar-custom"> Please Login <script src="http://minar.stillingar.is/lesa/stilar/js/button/?bid=13" charset="UTF-8"></script></p>
                    }
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.js")
    @Scripts.Render("~/Scripts/Custom.js")
    @RenderSection("scripts", required: false)
</body>
</html>
