@model Mooshak2.Models.CreateAssignmentViewModel

@{
    ViewBag.Title = "CreateAssignment";
}

<script type=@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")>
</script>
@Scripts.Render("~/Scripts/Custom.js")
@Scripts.Render("~/Scripts/TeacherSearch.js")
<link rel="stylesheet" href="~/Content/sortable-theme-minimal.css" />

<h2>Create Assignment</h2>
<hr/>

@{
	using (Html.BeginForm("CreateAssignment", "Teacher", FormMethod.Post, new { enctype = "multipart/form-data", id = "assignmentform", required = "required" }))
	{
		<div class="row">
			<div class="form-group">
				<label class="control-label">Assignment Name</label>
				<div>
					@Html.HiddenFor(x => Model.CourseId)
					@Html.ValidationMessageFor(model => model.Name, "", new {@class = "text-danger"})
					<input type="text" name="name" class="form-control" required="required"/>
				</div>
			</div>
		</div>
        <div class="row milestonepadding custom-buttonfile">
            <div class="form-group">
                <div class="col-md-3">
                    <label class="control-label">Date Open:</label>
                    @Html.EditorFor(x => x.DateOpen, Model.DateOpen)
                </div>
                <div class="col-md-3">
                    <label class="control-label">Date Close:</label>
                    @Html.EditorFor(x => x.DateClose, Model.DateClose)
                </div>
            </div>
        </div>
		<div class="form-group">
			<div class="row">
				<label class="col-xs-3 control-label">Milestones</label>
			</div>
			<div class ="row">
				<div class="col-xs-3">
					<input type="text" class="form-control" name="milestones[0].name" placeholder="Title"/>
				</div>
				<div class="col-xs-2">
					<input type="text" class="form-control weight" name="milestones[0].weight" placeholder="Weight"/>
				</div>
				<div class="col-xs-1">
                    <div class="custom-buttonfile">
                        <input type="file" id="file" name="milestones[0].file" class="btn btn-file btn-default filemargin" />
                    </div>
				</div>
				<div class="col-md-10">
					<button type="button" class="btn btn-default addbutton">
						Add a row
					</button>
				</div>
			</div>
		</div>
		<div class="form-group hide" id="assignmenttempplate">
			<div class="row">
				<div class="col-xs-3">
					<input type="text" class="form-control" name="name" placeholder="Title"/>
				</div>
				<div class="col-xs-2">
					<input type="text" class="form-control weight" name="weight" placeholder="Weight"/>
				</div>
				<div class="col-xs-1">
                    <div class="custom-buttonfile">
                        <input type="file" id="file" name="file" class="btn btn-file btn-default filemargin" />
                    </div>
				</div>
				<div class="col-md-10">
					<button type="button" class="btn btn-default removebtn">
						Remove Row
					</button>
				</div>
			</div>
		</div>
		<div class="form-group col-md-2">
            <div>
                <div>
                    <button type="submit" class="btn btn-default custom-button">Submit</button>
                </div>
                <div>
                @Html.ActionLink("Cancel", "Index", "", new { @class = "btn btn-default" })
            </div>
		    </div>
		</div>
	}
}