@using Microsoft.AspNet.Identity
@model Mooshak2.Models.TeacherAssignmentViewModel
@{
	ViewBag.Title = "Content";
}

<script type=@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")></script>
@Scripts.Render("~/Scripts/TeacherSearch.js")

@Scripts.Render("~/Scripts/sortable.min.js")
<link rel="stylesheet" href="~/Content/sortable-theme-minimal.css" />

<h2>@Model.MilestoneName</h2>

<div class="container">
			<div class="col-md-10">
				<input type="text" class="form-control leitarbox" placeholder="Search user.."/><br/>
				<div class="custom-button">
					@Html.ActionLink("Edit assignment", "EditAssignment", "Teacher", new { Id = Model.AssignId }, new { @class = "btn btn-default" })
				</div>
				<div class="submissionTable custom-height">
					<table class="table table-condensed table-hover table-striped sortable-theme-minimal" data-sortable>
						<thead>
						<tr>
							<th>#</th>
							<th>Time</th>
							<th>User</th>
							<th>Grade</th>
							<th>Result</th>
							<th>Get Submission</th>
						</tr>
						</thead>
						<tbody>
						@if (Model.Submissions.Count == 0)
						{
							<tr>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
						}
						else
						{
							foreach (var item in Model.Submissions)
							{
								if (item.TestPassed == 1)
								{
									<tr class="success">
										<td>@item.Id</td>
										<td>@item.SubmitDate.ToString("yyyy-MM-dd hh:mm:ss.fff")</td>
										<td class="username">@item.UserName</td>
										<td>@item.Grade</td>
										<td>Accepted</td>
										<td>@Html.ActionLink("Download", "Download", new { submissionId = item.Id })</td>@*Hér þarf action link sem downloadar submissioninu*@
									</tr>
								}
								else
								{
									<tr class="danger">
										<td>@item.Id</td>
										<td>@item.SubmitDate.ToString("yyyy-MM-dd hh:mm:ss.fff")</td>
										<td class="username">@item.UserName</td>
										<td>@item.Grade</td>
										<td>Failed</td>
										<td>@Html.ActionLink("Download", "Download", new { submissionId = item.Id })</td>@*Hér þarf action link sem downloadar submissioninu*@
									</tr>
								}
							}
						}
						</tbody>
					</table>
				</div>
			</div>
		</div>