@using Microsoft.AspNet.Identity
@model Mooshak2.Models.TeacherAssignmentViewModel
@{
    ViewBag.Title = "Content";
}
<script type=@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")></script>
@Scripts.Render("~/Scripts/Custom.js")

<h2>@Model.MilestoneName</h2>
<div class="container">
	<div class="row">
		<div class="col-md-3">
			<input type="text" class="form-control leitarbox" placeholder="Search user.."/><br/>
			<select class="searchclass leitarlisti" name="students" size="15">
				@foreach (var item in Model.AllStudents)
				{
					<option value="@item.username">@item.username</option>
				}
			</select>
		</div>
		<div class="col-md-9">
			<div class="submissionTable">
				<table class="table table-condensed table-hover table-striped">
					<thead>
						<tr>
							<th>#</th>
							<th>Time</th>
							<th>User</th>
							<th>Result</th>
							<th>Get Submission</th>
						</tr>
					</thead>
					<tbody>
						@if (Model.Submissions.Count == 0)
						{
							<tr>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
						}
						else
						{
							foreach (var item in Model.Submissions)
							{
								if (item.TestPassed == 1)
								{
									<tr class="success">
										<td>@item.Id</td>
										<td>@item.SubmitDate.ToString("yyyy-MM-dd hh:mm:ss.fff")</td>
										<td>@User.Identity.GetUserName()</td>
										<td>Accepted</td>
										<td><a href="#">Download</a></td>@*Hér þarf action link sem downloadar submissioninu*@
									</tr>
								}
								else
								{
									<tr class="danger">
										<td>@item.Id</td>
										<td>@item.SubmitDate.ToString("yyyy-MM-dd hh:mm:ss.fff")</td>
										<td>@User.Identity.GetUserName()</td>
										<td>Failed</td>
										<td><a href="#">Download</a></td>@*Hér þarf action link sem downloadar submissioninu*@
									</tr>
								}
							}
						}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>